* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Montserrat;
    src: url(./Fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Montserrat;
    src: url(./Fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

header{
    padding: 31.5px 0;
}

.nav__main {
    width: 620px;
    height: 15px;
    margin: 0 auto;
    text-align: center;
}

.nav__list {
    text-decoration: none;
    display: inline;
} 

.nav__item {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.7px;
    display: inline;
    padding: 29px;
    text-transform: uppercase;
    text-align: center;
    line-height: 15px;
    
}

 .item2 {
    text-decoration: none;
    color: #FF0000;
}

ul.nav__main li:first-child {
    padding-left: 0;
}

ul.nav__main li:last-child {
    padding-right: 0;
}

.content {
    width: 1280px;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.0001);
}

.image__1 {
    width: 1280px;
    height: 853px;
}

.main__title{
    text-transform: uppercase;
    text-align: center;
    color: #373737;
    margin: 0px 253px 0px 253px;
    padding-top: 48px;
    width: 774px;
    height: 29px;
    font-family: Montserrat;
    font-weight: 700;
    letter-spacing: 3.3px;
    font-size: 22px;   
}

 .text-first {
    margin: 0 auto;
    padding-top: 38px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    color: #373737;
    letter-spacing: 2.4px;
    text-align: center;
    width: 1145px;
    height: 132px;
    line-height: 163%;
} 

.text-second {
    margin: 0 auto;
    text-align: center;
    padding-top: 28px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    color: #373737;
    letter-spacing: 2.4px;
    width: 1145px;
    height: 216px;
    line-height: 160%;
}

.button-wrapper {
    text-align: center;

}
.button {
    display: inline-block;
    background-color: rgba(255, 0, 0, 1);
    border-radius: 4px;
    border: none;
    width: 191px;
    height: 51px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 66px;
    cursor: pointer;
}

footer {
    width: 1070px;
    height: 39px;
    margin-left: auto;
    margin-right: auto;
    
}
.footer__text{
    font-family: Montserrat;
    font-weight:700;
    font-size: 16px;
    width: 462px;
    height: 39px;
    margin-left: 608px;
    line-height: 39px;
    letter-spacing: 2px;
    text-align: center;
}
